pbr>=6.0.0
setuptools>=68.2.0
six>=1.16.0
wheel>=0.41.2
pytest>=3.7.0
weditor==0.7.3.dev5
tornado>=6.4
logzero>=1.7.0
pillow>=10.3.0
adbutils>=2.5.0
uiautomator2>=3.0.14
requests>=2.31.0
PyYAML>=6.0.1
pytest-rerunfailures>=14.0
allure-pytest>=2.13.5